@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Parisienne";
    src: url("fonts/Parisienne-Regular.ttf");
  }
  

body,html {
    padding: 0;
    margin: 0;
    background-color: #FAFBFC;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.logo {
    display: flex;
    font-weight: 700;
    font-size: 3em;
    font-family: 'Parisienne';
}

.gradient-name {
    background: -webkit-gradient(linear, left top, right bottom, from(#2b2b58), to(#2d2dab));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-container {
    max-width: 1080px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-links {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-link {
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: .25s ease-in-out;
    color:black;
    cursor: pointer;
    border-radius: 5px;
}

.menu-link:hover {
    transform: translateY(5px);
    background: #2b2b5912;
}

.main-container {
    padding-top: 75px;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    min-height: 450px;
}

.about-content {
    margin: 100px auto;
    max-width: 1080px;
    font-weight: 600;
    color: #080038;
    font-size: 40px;
    line-height: 56px;
    padding-top: 55px;
}

.education-content {
    margin: 100px auto;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.education-grad-hat {
    width: 400px;
    margin: 0px auto -165px;
    display: flex;
}

.education-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #080038;
}

.education-item {
    background: white;
    -webkit-box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
    box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
    padding: 20px;
    margin-top:10px;
    border-radius: 10px;
    /*width: fit-content;
    margin: auto;*/
}

.education-item-name {
    font-style: italic;
    color: grey;
}

.education-item-date {
    font-size: 12px;
    text-align:right;
}

.education-path {
    height: 65px;
    border-left-width: 6px;
    width: 7px;
    border-left-color: #dedede;
    border-left-style: dashed;
    margin: 0px auto -15px;
}

.point {
    background: black;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.skills-container {
    margin-top: 100px;
    background: linear-gradient(151.18deg,#2b2b58 .46%,#2d2dab 101.36%);
}

.skills-content {
    max-width: 1080px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.skills-content-image {
    width: 440px;
}

.skills-body {
    color: white;
}

.skills-body-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.skills-body-list {
    max-width: 500px;
}

.skills-body-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
}

.skills-body-list ul li {
    list-style: none;
    padding: 5px 0px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    max-height: 50px;
}

.skills-body-list ul li img {
    vertical-align: middle;
    height: 30px;
    margin-right: 5px;
}

@media screen and (max-width: 550px) {
    .main-container {
        padding: 75px 40px 0;
        min-height: 400px;
    }

    .about-content {
        font-weight: 500;
        margin: 10px auto auto;
        color: #080038;
        font-size: 25px;
        line-height: 31px;
    }

    .menu-container {
        flex-direction: column;
    }

    .skills-content {
        flex-direction: column;
    }

    .skills-content-image {
        width: 300px;
        margin-bottom: 40px;
    }
}



