@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
}*/

:root {
    --color: #080038;
    --bg-purple: #141c3a;
    --title-size-m: 30px;
    --title-size: 35px;
    /* #7510F7;*/
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #171321;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

* {
    box-sizing: border-box;
}

.logo {
    font-size: 2.5em;
    letter-spacing: -2px;
}

.gradient-name {
    /* font-weight: bold; */
    background: -webkit-linear-gradient(46deg, #0a61a6, #4caf50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-name .c-letter {
    display: inline-block;
    background: var(--color);
    color: white;
    font-weight: bold;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    letter-spacing: 0px;
}

.title {
    font-size: var(--title-size);
    font-weight: 700;
}

.menu-links {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: #141c3a; */
    border-radius: 50px;
    padding: 2px;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: .25s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    color: white;

}

.menu-link:hover {
    background: #ffffff40;
    border-radius: 50px;
    color: white;
}

.main-container {
    padding: 15px 30px;
}

.bg-container {
    background-image: linear-gradient(to right, transparent, #1d1829, transparent);
    padding: 40px 0;
}

.menu-content {
    max-width: 1080px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.about-content {
    margin: 140px auto;
    max-width: 1080px;
    line-height: 55px;
    font-size: var(--title-size);
}

.education-content {
    margin: 100px auto;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-content {
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.contact-content {
    max-width: 1080px;
    margin: 140px auto;
    color: white;
}

.contact-desc {
    padding: 20px 0px;
}

.contact-desc .mail {
    font-weight: bold;
}

.education-grad-hat {
    width: 400px;
    margin: 0px auto -165px;
    display: flex;
}

.education-title {
    text-align: center;
}

.education-desc {
    margin-bottom: 80px;
}

.desc {
    font-size: 22px;
}

.education-item {
    background: white;
    -webkit-box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
    box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0px;
}

.education-hole-gradhat {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin: -38px auto 0px;
    background: var(--color);
    text-align: center;
    line-height: 35px;
}

.education-hole-gradhat img {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    margin-top: -2px;
}

.education-item-name {
    font-style: italic;
    color: grey;
}

.education-item-date {
    font-size: 12px;
    text-align: right;
}

.skills-content-image {
    width: 440px;
    height: 300px;
}

.skills-content-stack-skelet {
    position: relative;
    z-index: 1;
}

.skills-body-title {
    margin-bottom: 20px;
}

.skills-body-list {
    max-width: 500px;
}

.skills-body-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
}

.skills-body-list ul li {
    list-style: none;
    padding: 5px 0px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    max-height: 50px;
}

.skills-body-list ul li img {
    vertical-align: middle;
    height: 30px;
    margin-right: 5px;
}

.contact-item {
    display: flex;
    padding: 5px 0;
}

.contact-item img {
    margin-right: 10px;
}

.contact-item a {
    display: flex;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 700px) { /*550*/
    .title {
        font-weight: 600;
        font-size: var(--title-size-m);
    }

    .about-content {
        margin: 80px auto;
        line-height: 40px;
        font-size: var(--title-size-m);
    }

    .menu-content {
        flex-direction: column;
        border-bottom: none;
    }

    .skills-content-image {
        width: 300px;
    }

    .desc {
        font-size: 20px;
    }

    .more-about-me-cedpic {
        float: none !important;
    }
}

@media screen and (max-width: 950px) {
    .skills-content {
        flex-direction: column;
    }

    .skills-content-stack-skelet {
        margin-bottom: 40px;
    }

}

.more-about-me {
    background: white;
    position: relative;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.more-about-me:before {
    content: "";
    background: linear-gradient(to right, #23699c, #44a55c);
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
    border-radius: 30px;
}

.more-about-me-container {
    position: fixed;
    background: #2d263df7;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 15px 30px;
}

.more-about-me-content {
    max-width: 1080px;
    margin: 50px auto;
}

.more-about-me-cedpic {
    float:left; 
    width: 300px;
    border-radius: 50%;
    border: 5px solid;
    padding: 5px;
    margin: 10px;
}
